// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.provisioning-checker {
  padding: 5px;
  background-color: #003300;
  position: relative;
  .cancel-button {
    width: 16px;
    height: 16px;
    position: absolute; right: 5px; top: 5px;
    border: none;
    background-color: transparent;
  }
}
